
    <% if user_signed_in? %>
    
    
    
    <% if friend.user == current_user %>

<div id="<%= dom_id friend %>">
 
  <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>
  <p>
  <strong>User Id:</strong>
  <%= friend.user_id %>
</p>
 
</div>
<% end %>

<% else %>
<h2>Welcome to Ruby on Rails</h2>
<% end %>